<!-- ===============TOP NAV================ -->
<nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar topnav" id="probootstrap-navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" (click)="refresh()">ReviewSensor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu"
      aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <i class="ion-navicon"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse logged-out-nav" id="probootstrap-menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [ngx-scroll-to]="'#about'">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']" (click)="refresh()">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" (click)="refresh()">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="probootstrap_section hotel-list">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <h2 class="display-4 probootstrap-section-heading list-header">top 20 hotels in miami</h2>
      </div>
    </div>

    <div class="row">

      <!-- <div *ngFor = "let hotel of allTheHotels">

        <div class="col-md-3 hotelListItem">
          <div class="media probootstrap-media d-block align-items-stretch mb-3">
            <img [src]="hotel.image_url" alt="{{hotel.name}} image" class="img-fluid">
            <div class="media-body hotelListItemContent">
              <h5 class="mb-3">{{hotel.name}}</h5>
              <h5>{{hotel.rating}}</h5>  
              <h6>{{hotel.review_count}} reviews total</h6>   
              <p><strong>Price Level:</strong> {{hotel.price}}</p>        
            </div>
          </div>
        </div>

      </div> -->

      <div class="col-md-3 hotelListItem">
        <div class="media probootstrap-media d-block align-items-stretch mb-3">
          <img src="assets/images/sq_img_1.jpg" alt="hotel name image" class="img-fluid">
          <div class="media-body hotelListItemContent">
            <h5 class="mb-3">hotel name</h5>
            <h5>hotel rating</h5>
            <h6>#reviews reviews total</h6>
            <p>
              <strong>Price Level:</strong> $$$</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 hotelListItem">
        <div class="media probootstrap-media d-block align-items-stretch mb-3">
          <img src="assets/images/sq_img_1.jpg" alt="hotel name image" class="img-fluid">
          <div class="media-body hotelListItemContent">
            <h5 class="mb-3">hotel name</h5>
            <h5>hotel rating</h5>
            <h6>#reviews reviews total</h6>
            <p>
              <strong>Price Level:</strong> $$$</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 hotelListItem">
        <div class="media probootstrap-media d-block align-items-stretch mb-3">
          <img src="assets/images/sq_img_1.jpg" alt="hotel name image" class="img-fluid">
          <div class="media-body hotelListItemContent">
            <h5 class="mb-3">hotel name</h5>
            <h5>hotel rating</h5>
            <h6>#reviews reviews total</h6>
            <p>
              <strong>Price Level:</strong> $$$</p>
          </div>
        </div>
      </div>

    </div> <!-- END row -->
  </div> <!-- END container -->
</div> <!-- END section -->